node_modules
util
portfolio

*.js   
!main*.js  
!canvas.js
!gsap.min.js
!ScrollTrigger.js
!smooth-scroll.js
!content.js
!index.js
!three.js
!d3.relationshipgraph.js
!venn.js
server.js


*.html
!index.html
!login.html
!content.html
!interactive2.html

*.scss

*.svg
!Flag_map_of_Taiwan_(ROC).svg
!favicon.svg

doraemon.jpg
neon-progress-bar.png
nightsky-landscape.jpg
Nucleo-Free-Social-Icons.gif

advanced.css

