<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <h2>Please sign in with your username/email and password.</h2>
    <form action="/result" method="POST">
        <input type="text" placeholder="username/email" name="username">
        <input type="text" placeholder="password" name="password">
        <button>Submit</button>
    </form>
    <% if (isMember) {  %>
        <p> Welcome back. </p>
        <%     } else {     %>
            <p> Hello, guest. </p>
            <%    }             %>

                <% credentials.forEach(credential => { %>
                    <li>
                        <%= credential.username %>
                            <% credential.email %>
                    </li>
                    <% }) %>
                        <script src="" async defer></script>
</body>

</html>