//theme switch
svg {
    margin: auto;
    padding: 0;
    color: black;
}

@media screen and (max-width: 575px) {
    svg#switch {
        width: calc(1em + 0.5vw);
        height: calc(1em + 0.5vh);
        z-index: 99;
        cursor: pointer;
    }
}

#switch_root {
    position: fixed;
    right: 2vw;
    top: 1vh;
    z-index: 99;
}

svg#switch {
    width: calc(1em + 0.5vw);
    height: calc(1em + 0.5vh);
    z-index: 5;
    cursor: pointer;
}

.button-wrapper {}

#btn-profiles {
    top: 25%;
    position: absolute;
}