.btm-shadow {
    box-shadow: 0 1px 0px -2px black;
}

span.big-ho:hover {
    font-size: 32px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#cases_1 {
    background-image: url("https://images.pexels.com/photos/1595822/pexels-photo-1595822.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#about_1 {
    transform: translate(33%);
    z-index: 0;
    background-image: url("https://images.pexels.com/photos/1311518/pexels-photo-1311518.jpeg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#about_3 {
    transform: translate(-33%);
    z-index: 0;
}

#about_2 {
    transform: translateY(15px);
    z-index: 2;
}

#about_1:hover,
#cases_1:hover {
    display: block;
    z-index: 4;
    transform: translate(1em);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    cursor: pointer;
}

#about_2:hover,
#cases_2:hover {
    display: block;
    z-index: 4;
    transform: translate(0) scale(3);
    transform-origin: (50%, 50%);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    cursor: pointer;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

#about_3:hover,
#cases_3:hover {
    display: block;
    z-index: 4;
    transform: translate(0.8em);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    cursor: pointer;
}

#about_1,
#about_2,
#about_3 {
    position: absolute;
    top: 20vh;
    max-height: 40vh;
    display: inline-flex;
    transition: all 1500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

@media screen and (max-width: 575px) {
    #about_1,
    #about_2,
    #about_3 {
        height: 30vh;
        transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    }
    #about_1 {
        transform: translate(20vw);
        z-index: 0;
    }
    #about_3 {
        transform: translate(-20vw);
        z-index: 0;
    }
    #about_1:hover,
    #cases_1:hover,
    #about_3:hover,
    #cases_3:hover {
        display: block;
        z-index: 4;
        cursor: pointer;
    }
}

.code-container {
    width: 970px;
    margin: 0 auto;
    max-width: 90%;
    -webkit-transform: translateZ(1000px);
    transform: translateZ(1000px);
    z-index: 15 !important;
    position: absolute;
}

.code {
    width: 40%;
    clear: both;
    height: 200px;
    background: #fff;
    border-radius: 2px;
    margin: 12vh 0;
    padding: 10px;
}

.code--small code {
    padding-top: 75px;
}

.code code {
    padding: 20px 0 0 20px;
}

.code pre,
.code code {
    height: 100%;
    margin: 0;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #202746;
    color: #979db4;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
}

pre {
    white-space: pre;
}