//typography
.xxlg-text {
    font-size: xx-large !important;
}

.xsmall-text {
    font-size: x-small !important;
}

.xlg-text {
    font-size: x-large !important;
}

.lgr-text {
    font-size: larger !important;
}

.lg-text {
    font-size: large !important;
}

.med-text {
    font-size: medium !important;
}

.small-text {
    font-size: small !important;
}

div.ql-editor {
    min-height: 300px;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

$boxShadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.527);
.site-button-ghost-wrapper {
    padding: 8px 8px 0 8px;
    background: rgb(190, 200, 200);
}

i {
    margin-left: 0.3rem;
    font-size: small;
}

h1,
h2,
h3,
h5,
h6 {
    font-family: "Fira Sans", sans-serif;
}

h3,
h5,
h6,
strong {
    color: rgb(206, 206, 206);
    font-weight: 300 !important;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: calc(1.5em + 0.5vw) !important;
    font-weight: 300 !important;
    padding: 1rem 0;
    filter: drop-shadow(20px);
}

p {
    font-size: calc(0.7em + 0.3vw) !important;
    line-height: normal;
}

em {
    font-size: calc(0.5em + 0.1vw) !important;
}

h2 {
    padding: 0.5rem 0;
    color: rgb(5 44 75);
    font-size: calc(1.5em + 2vw) !important;
    font-weight: 400 !important;
}

h3 {
    padding: 1rem 0;
}

h4 {
    font-size: calc(0.5em + 2.5vw) !important;
    line-height: 1.5rem;
    font-weight: 100 !important;
    font-family: "Fira Sans", sans-serif;
}

h5 {
    font-size: calc(0.6em + 0.5vw) !important;
    line-height: 1.5rem;
}

.sub {
    font-size: calc(0.6em + 0.3vw) !important;
    margin: auto;
    top: 12vh;
}

h6 {
    color: rgb(60, 60, 60) !important;
    font-size: calc(0.5em + 0.4vw) !important;
    font-weight: 200 !important;
    line-height: 1rem;
}

label {
    font-size: calc(1em + 0.8vw) !important;
    font-weight: 300 !important;
    font-style: normal;
}

.blue-text {
    color: rgb(95, 137, 216);
}

.green-text {
    color: rgb(91, 228, 86);
}

.purple-text {
    color: rgb(146, 66, 211);
}

.black-text {
    color: rgb(32, 32, 32);
}

.title-tag {
    padding-top: 1rem;
    z-index: 99;
}

@media screen and (max-width: 575px) {
    .title-tag {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        left: 0;
        top: 55vh;
        position: fixed;
    }
}

h4,
b,
label,
.sub {
    color: rgb(255, 255, 255);
}

p,
i {
    color: #ffffffd3;
}

a {
    color: rgb(145, 145, 145);
}

h4,
a,
b,
p,
i,
label,
.sub {
    animation: lightbulb 1s linear;
    -webkit-animation: lightbulb 1s linear;
    -moz-animation: lightbulb 1s linear;
    /* Pause the animation */
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    -webkit-animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    filter: contrast(105%);
    -moz-animation-fill-mode: both;
}

@keyframes lightbulb {
    to {
        color: rgb(23, 26, 22);
    }
}

.to-the-left {
    animation: ttl 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: ttl 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-animation: ttl 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* Pause the animation */
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    -webkit-animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    filter: contrast(105%);
    -moz-animation-fill-mode: both;
    transform: scale(1) translate(0);
    font-size: 100%;
}

@keyframes ttl {
    to {
        color: rgb(23, 26, 22);
        transform: translate(-30px);
        font-size: 70%;
    }
}

#Path_1-2,
#Path_2-2,
#Path_3-2,
#Path_4-2,
#Path_5-2,
#Path_6-2,
#Path_7-2,
#Path_8-2,
#Path_9-2,
#Path_10-2,
#Path_11-2,
#Path_12-2,
#Path_13-2,
#Path_14-2,
#Path_15-2,
#Path_16-2,
#Path_17-2,
#Path_18-2,
#Path_19-2,
#Path_20-2,
#Path_21-2,
#Path_22-2,
#Path_23-2,
#Path_24-2,
#Path_25-2,
#Path_26-2,
#Path_27-2,
#Path_28-2,
#Path_29-2,
#Path_30-2,
#Path_31-2 {}