.square,
.circle {
    pointer-events: none;
    position: relative;
    width: 56px;
    height: 56px;
    margin: 2px;
    background-color: #00216fc6;
    font-size: 28px;
    border-radius: 50%;
}

.small {
    width: 36px;
    height: 36px;
}

.shadow {
    position: absolute;
    opacity: 0.2;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.demo-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 280px;
    height: 100%;
    top: -40vh;
    left: 0vw;
    z-index: 21;
    opacity: 0.5;
}

.parallelogram {
    width: auto;
    height: auto;
    transform: skew(20deg);
    background: #555;
    border: 2px solid #00216fc6;
}

.parallelogram>h3 {
    transform: skew(-20deg) !important;
}

.trapezoid {
    border-bottom: 50px solid #555;
    border-left: -25px solid transparent;
    border-right: 25px solid transparent;
    transform: skew(20deg);
    height: 0;
    width: 125px;
    opacity: 0.7;
}