//theme switch
svg {
    margin: auto;
    padding: 0;
    color: black;
}

@media screen and (max-width: 575px) {
    #switch {
        width: calc(0.1em + 0.5vw);
        height: calc(0.1em + 0.5vh);
        z-index: 99;
        cursor: pointer;
        padding-right: 50px;
    }
}

#switch_root {
    height: 100%;
    overflow: auto;
}

#switch {
    width: calc(0.1em + 0.5vw);
    height: calc(0.1em + 0.5vh);
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: block;
}

.button-wrapper {
    width: 50px;
    height: 100%;
    transform: scale(1.05);
    z-index: 99;
    opacity: 0.8;
    bottom: 15vh;
    right: 20vw;
    position: fixed;
    cursor: pointer;
}

.flipper {
    border-radius: 50%;
    padding: 30px;
}

.top-icon {
    background-color: rgba(0, 0, 0, 0.693);
    transform: rotate(180deg) scale(0.5);
}

#btn-profiles {
    top: 25%;
    position: absolute;
}


/* HAMBURGER */

.menu {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 30;
    cursor: pointer;
}

.menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 3px;
    transform-origin: 0 0;
    animation-name: toggleTop;
    animation-play-state: paused;
    animation-direction: alternate;
    transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes toggleTop {
    from {
        left: 0;
    }
    to {
        animation-play-state: paused;
        left: 20% !important;
        transform: rotate(45deg) scaleX(0.6) translate(50%) !important;
    }
}

.menu-mid {
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 3px;
    transition: all 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.menu::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.549);
    border-radius: 3px;
    transform-origin: 50% 50%;
    transition: transform 0.4s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.menu:active {
    animation-play-state: running;
}

.menu-mid:active {
    transform: scaleX(0) !important;
}

.menu::after:active {
    right: 20% !important;
    transform: rotate(-45deg) scaleX(0.6) translateX(25%) !important;
}

///////////////////////////////
.nav-icon {
    top: 0;
    right: 10px;
    transform: scale(0.4);
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    min-height: 40px;
    width: 50px;
    height: 20px;
    position: fixed;
    z-index: 2;
    opacity: 0.8;
}

.nav-icon>.line {
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: white;
    transform-origin: center center;
    border-radius: 2px;
    box-shadow: 0 0 5px 1px #3c0e69;
}

.nav-icon>.line2 {
    top: 20px;
}

.nav-icon>.line3 {
    top: 40px;
}